[submodule "production/AI_Data_Analytics.Project_1.ID_1577557"]
	path = production/AI_Data_Analytics.Project_1.ID_1577557
	url = ssh://git@git-ssh.21-school.ru:2222/masters/AI_Data_Analytics.Project_1.ID_1577557.git
